<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary">Add Recipe</button>
    </div>    
</div>
<hr>
<div class="row">
<div class="col-lg-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let x of recipes">
        <div class="pull-left">
            <h4 class="list-group-item-heading">{{x.Name}}</h4>
            <p class="list-group-item-description">{{x.Description}}</p>
        </div>
        <span class="pull-right">
            <img [src] = "x.ImagePath" class="img-responsive" style="max-height: 50px;">
        </span>
    </a>
        
</div>
</div>

